.container1,
.container2,
.container3 {
    border: 5px solid #4E074E;
}

.container2 {
    display: flex;
}

.container3 {
    border: 10px solid #4E074E;
}

.block1,
.block2 {
    border: 5px solid #4E074E;
    padding: 10px;
}

.block1 {
    background-color: #C1AEC1;
    border-bottom: 0px;
    display: flex;
}

.block1>div {
    background-color: #BB4CBB;
    margin: 3px;
}

.item1,
.item3 {
    flex: 1;
}

.item2 {
    flex: 5;
}

.block2 {
    background-color: #9EE5EF;
}

.block2>div {
    background-color: #1FB7CD;
    margin: 3px;
} 

.block3,
.block4 {
    border: 5px solid #4E074E;
    padding: 10px;
}

.block3 {
    background-color: #ffb3d9;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block3>div {
    margin: 5px;
}

.item5,
.item6,
.item7,
.item8 {
    background-color: #990099;
}

.item9 {
    background-color: #D36D07;
    grid-column: 1 / -1;
}

.block4 {
    background-color: #dfff80;
    flex: 1;
}

.block4>div {
    background-color: #009933;
    margin: 3px;
}

.item12 {
    background-color: #F0BE14;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12 {
    height: 12px;
}

html,
body {
    background-color: #ffffcc;
    margin: 10px;
}

body {
    max-width: 1200px;
}

hr {
    border: 0px;
}